.harvest-timer .Button-label:after {
  content: 'Track time';
}

.harvest-timer.running {
  background: #fa5d00;
  border-color: #df4b00;
  color: #fff;
}

.harvest-timer.running .Button-label:after {
  content: 'Stop timer';
}

.harvest-timer.running svg {
  fill: #fff;
}

.harvest-timer.running:hover {
  background: #df4b00 !important;
  border-color: #df4b00 !important;
}

[data-component='PH_Actions'] .harvest-timer {
  font-size: 14px;
}

.harvest-dialog[open] {
  position: fixed !important;
}
