.harvest-timer {
	display: flex;
	align-items: center;

	svg {
		width: 24px;
		height: auto;
		fill: rgb(49, 67, 81);
	}

	&.running {
		svg {
			fill: #FA5D00;
		}
	}

	&.harvest-timer--helpscout-legacy-inbox {
		justify-content: center;

		button {
			display: contents;
		}
	}

	&.harvest-timer--helpscout-new-inbox {
		padding-right: 8px;
	}
}